header {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

body {
    background-color: darkslateblue;
    font-family: 'Franklin Gothic margin', sans-serif;
}

.box {
        width: 100px;
        height: 100px;
        padding-left: 50px;
        background-color: rgb(236, 186, 186);
    }
    

