/* CONFIGURACOES INICIAS */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

/* HEADER */
header {
    background-color: black;
    border-bottom: 2px solid #32b9cd;
    padding: 15px 0; /* espaçar de dentro para fora */
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    color: #32b9cd;
    font-size: 14px;
}

.navegacao {
    color: #efb661;
}

.navegacao ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.navegacao a {
    color: #efb661; /* link por padrao vem com a cor azul */
    text-decoration: none; 
}

.navegacao ul li {
    font-size: 12px;
    cursor: pointer;
}

.agora {
    font-weight: bold;
}

/* RODAPÉ/FOOTER*/

footer {
    padding: 45px 0; /* aumentar o tamanho/ engordar */   
    background-color: #32b9cd;
}

footer .container {
    justify-content: center;
}

footer p {
    color: #fff;
}